
    
    
     

    <div class="header"> 
  <img class="img3D" src="/static/img/3D.jpg"/>
   
       <ul class="menu">
        <li class="menu-list" ><a class="menu-link" href="{% url 'main:index' %}">Главная</a></li>
        <li class="menu-list"><a class="menu-link"  href="{% url 'main:catalog' %}">Каталог</a></li>
        <li class="menu-list"><a class="menu-link" href="{% url 'main:contacts' %}">Контакты</a></li>
        <li class="menu-list"><a class="menu-link" href="{% url 'main:conference' %}">Конференция</a></li>
         
           {% if user.is_authenticated %}
        <li class="menu-list">
            <a class="menu-link" href="{% url 'auth:update' %}">
                {{ user.first_name|default:'Пользователь' }}
            </a>
        </li>
        {% endif %}
           {% if user.is_superuser %}
        <li class="menu-list">
            <a class="menu-link" href="{% url 'admin:index' %}">
                Админка
            </a>
        </li>
            {% endif %}

           <li class="menu-list">
            {% if user.is_authenticated %}
                <a class="menu-link" href="{% url 'auth:logout' %}">Выйти</a>
            {% else %}
                <a class="menu-link" href="{% url 'auth:login' %}">Войти</a>
            {% endif %}

            </li>

        </ul>

        {% if basket %}
        <ul class="menu">
            <li class="menu-list">
                <a class="menu-link" href="{% url 'basket:index' %}" class="#">
            <span>
            {{ basket.0.total_cost|floatformat:0 }} руб
            ({{ basket.0.total_quantity }} шт)
        </span>
                    </a>
            {% endif %}
                </li>
            </ul>
        </div>

    
   